*{ 
    margin: 0;
    padding: 0;
}

body{
    font-family: Consolas;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px;
}
.title{
    font-size: 24px;
} 

section{
    padding: 100px;
    background-image: url('../img/img.jpg');
    background-size: cover;    
    overflow: hidden;
}
.fromContainer{
    max-width: 200px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float:right;   
}
h2{
    font-size: 14px;
}
.mb{
    margin-bottom: 15px;
}
p{
    text-align: center;
}
input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border:none;
    margin-bottom: 10px;
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url('../img/img.jpg');
    background-repeat: no-repeat;

    background-position: calc(100% - 10px) center;









}

    





}